<p id="notice"><%= notice %></p>

<p>
  <strong>C a:</strong>
  <%= @curso_alumno.c_a_id %>
</p>

<%= link_to 'Edit', edit_curso_alumno_path(@curso_alumno) %> |
<%= link_to 'Back', curso_alumnos_path %>
